/*FILM STYLES*/
.film-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  margin-top: 56px;
}

.film-header-container {
  transition: all .2s ease-out;
}

.film-backdrop {
  width: 100%;
  height: auto;
}

.film-title-container {
  width: 100%;
  background: #2E2E2E;
  color: #fff;
  margin-top: -6px;
  padding: 10% 0;
}

.film-body-container {
  width: 100%;
  padding: 10% 0;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(200px);
  transition: all .2s ease-out;
}

.film-poster {
  width: 100%;
  display: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.film-overview, .film-release-date, .film-vote-average {
  padding-bottom: 10%;
}

.film-release-date {
  margin-right: 18%;
}

@media all and (min-width: 768px) {
  .film-title-container {
    padding: 6% 0;
  }
  .film-overview, .film-release-date, .film-vote-average {
    padding-bottom: 6%;
  }
}

@media all and (min-width: 1024px) {
  .film-backdrop {
    display: none;
  }

  .film-title-container {
    padding: 8% 0;
  }

  .film-title {
    font-size: 36px
  }

  .film-tag-line {
    font-size: 28px;
  }

  .film-poster-container {
    width: 40%;
  }

  .film-poster {
    display: block;
  }

  .film-description-container {
    width: 60%;
    padding-left: 6%;
  }

  .film-overview, .film-release-date, .film-vote-average {
    padding-bottom: 8%;
  }
}

/*React CSS Transition Group*/
.ShowFilmHeader-appear {
  transform: translateY(-100%);
}

.ShowFilmHeader-appear.ShowFilmHeader-appear-active {
  transform: translateY(0);
  transition: all .5s ease-out;
}
